@font-face {
    font-family: "Minecraft";
    src: url("./fonts/Minecraft/Minecraft.ttf") format('truetype');
}

* {

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Minecraft";
}

/* don't change this */
.buttons-grid button {

    height: 68px;
    /*almost 68.4*/
    width: 73px;
    /* almost 73.66*/
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    cursor: pointer;
    border: none;
}

#equal {
    width: 160px;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    background-image: url("./images/CalculatorPNG/randomBg.png");
    height: 100vh; 
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    /* background-size: cover; */
    background-position: center;
    background-repeat: repeat;
}

.container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.bg {

    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 610px;
    display: block;
}

.buttons-grid {

    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 330px;
    flex-wrap: wrap;
    height: 400px;
    top: 180px;
    left: 28px;

}

.result {

    position: absolute;
    top: 114px;
    left: 54px;
    width: 270px;
    color: rgb(87, 83, 83, .4);
    font-size: 45px;
    text-align: right;
}

.input {

    position: absolute;
    top: 45px;
    left: 55px;
    width: 270px;
    color: rgb(66, 64, 64);
    font-size: 35px;
    text-align: left;
}

p {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: rgb(134, 32, 32);
    font-size: 20px;
}