@font-face {
    font-family: "Minecraft";
    src: url("./fonts/Minecraft/Minecraft.ttf") format('truetype');
}

* {

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* don't change this */
.buttons-grid button {


    height: 68px;
    /*almost 68.4*/
    width: 73px;
    /* almost 73.66*/

    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    cursor: pointer;
    border: none;
}

#equal {
    width: 160px;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.bg {

    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 610px;
    display: block;
}

.buttons-grid {

    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 330px;
    flex-wrap: wrap;
    height: 400px;
    top: 180px;
    left: 28px;
    /* border: 1px solid red; */

}

.result {
    font-family: "Minecraft";
    position: absolute;
    top: 114px;
    left: 56px;
    width: 270px;
    color: rgb(87, 83, 83, .4);
    font-size: 45px;
    text-align: right;
    /* border: 1px solid rebeccapurple; */
}

.input {
    font-family: "Minecraft";
    position: absolute;
    top: 45px;
    left: 55px;
    width: 270px;
    color: rgb(66, 64, 64);
    font-size: 35px;
    text-align: left;
    /* border: 1px solid rebeccapurple; */
}